
.dark_body {
    background-color: #202020;
    color: #ffffff;
}

.grey_body {
    background-color: #888888;
    color: #BBBBBB;
}

.white_body {
    background-color: #ffffff;
    color: #000000;
}
.code {
    background-color: #101010;
    color: white;
}

.link {
    color: #4aa1ff;
    text-decoration: underline;
}
