.dark_body {
    background-color: #202020;
    color: #ffffff;
}

.grey_body {
    background-color: #888888;
    color: #BBBBBB;
}

.white_body {
    background-color: #ffffff;
    color: #000000;
}

head1,
head2,
head3,
head4,
head5,
head6,
para {
    font-family: monospace;
}

head1 {
    font-size: 25px;
}
head2 {
    font-size: 15px;
}
head3 {
    font-size: 10px;
}
head4 {
    font-size: 7px;
}
head5 {
    font-size: 5px;
}
head6 {
    font-size: 3px;
}